body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height:100vh;
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul li {
    display: inline;
    margin: 0 15px;
}

ul li a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, button, p {
    margin: 5px 0;
    font-size: 16px;
}

input, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p#error {
    color: red;
    font-weight: bold;
}

a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #007BFF;
}
